@import "tailwindcss";

@theme {
  /* Updated Brand Colors */
  --color-brand-primary: #6366F1;
  /* Start of gradient (Indigo) */
  --color-brand-secondary: #11C8DC;
  /* End of gradient (Cyan-ish) */

  --animate-bounce-slow: bounce 3s infinite;
}



@utility bg-brand-primary {
  background-color: #6366F1;
}

@utility bg-brand-secondary {
  background-color: #11C8DC;
}

/* Custom Utilities for Gradient */
@utility bg-brand-gradient {
  background-image: linear-gradient(to right, #6366F1 20%, #11C8DC 80%);
}

@utility text-brand-gradient {
  background: linear-gradient(to right, #6366F1 20%, #11C8DC 80%);
  -webkit-background-clip: text;
  color: transparent;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}