@import "tailwindcss";

@theme {
  --color-brand-primary: #ff4d4f;
  --color-brand-secondary: #ff7875;

  --animate-bounce-slow: bounce 3s infinite;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}